.side-contents
  .side-ber--user-name
    .top-items
      .top-items--name
        %p  masa
      %ul.top-items--icons
        %li.item-edit
          =link_to "#" do
            = icon('fas', 'edit')
  
        %li.item-system
          =link_to "#" do
            = icon('fas', 'cog')
      
  .side-ber--group-list
    .name
      %p techcamp
    .massage
      %p まだメッセージがありません。